<!doctype html>
<html ng-app="case1">
    <head>
        <title>Sample Case 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/casecss.css" rel="stylesheet">
    </head>
    <body style="background-image: url(img/ice.jpg);">
        <div class="bgimg">
        <nav class="navbar navbar-inverse " role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                <a class="navbar-brand" style="margin-top: -10px;"> <img src="img/ice.gif" alt="icelogo"/></a>
                <a class="navbar-brand" href="#">Ice Procurement</a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
                <ul class="nav navbar-nav">
                    <li ng-click="navCollapsed = !navCollapsed" ng-class="{active: isActive('/') }"><a href="#/">Home</a></li>
                    <!--<li ng-click="navCollapsed = !navCollapsed" ng-class="{active: isActive('/addVendor') }"><a href="#/addVendor">Vendor</a></li>-->
                    <li ng-click="navCollapsed = !navCollapsed" ng-class="{active: isActive('/Vendors') }"><a href="#/Vendors">Vendors</a></li>
                    <li ng-click="navCollapsed = !navCollapsed" ng-class="{active: isActive('/Products') }"><a href="#/Products">Products</a></li>
                    <li ng-click="navCollapsed = !navCollapsed" ng-class="{active: isActive('/Generator') }"><a href="#/Generator">Generator</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </nav>

        <div class="content" ng-view> <!--partial views loaded here -->
        </div>

        <!-- Vendor Code  -->        
        <script src="scripts/vendorlibs/angular.min.js" type="text/javascript"></script>
        <script src="scripts/vendorlibs/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript"></script>
        <script src="scripts/vendorlibs/angular-route.min.js" type="text/javascript"></script>

        <!-- App Code  -->
        <script src="scripts/app/app.js" type="text/javascript"></script>
        <script src="scripts/app/VendorCtrl.js" type="text/javascript"></script>
        <script src="scripts/app/VendorModalCtrl.js" type="text/javascript"></script>
        <script src="scripts/app/directives.js" type="text/javascript"></script>
        <script src="scripts/app/ProductCtrl.js" type="text/javascript"></script>
        <script src="scripts/app/ProductModalCtrl.js" type="text/javascript"></script>
        <script src="scripts/app/GeneratorCtrl.js" type="text/javascript"></script>
       <!-- <script src="scripts/app/DVCtrl.js" type="text/javascript"></script> -->
        <script src="scripts/app/AddVendorCtrl.js" type="text/javascript"></script>
        <script src="scripts/app/RESTFactory.js" type="text/javascript"></script>
        <script src="scripts/app/routes.js" type="text/javascript"></script>
        </div>
    </body>
</html>
